
body {
    font-size: 17px;
    font-family: Arial, sans-serif;
     
     
}

.fm form {
    max-width: 400px;
    margin: 7rem auto;
    background-color:transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 
 

.fm button{
    font-size: 17px;
    margin-top: 14px;
    width: 100%;
}  

.fm .sig{

 margin: 1rem 0 0 3rem;
display: flex;
}

.fm .sign{
    text-decoration: underline;
}
.sig p{
margin-right: 0.3rem;
} 

.sig a{
    font-size: 17px;
}

 .fp{
     
    margin: 1rem 0 0 7rem;
}

.fp a{
    font-size: 17px;
}
    
