.fm form {
    max-width: 400px;
    margin: 4rem auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
 
 
.fm button[type='submit']{
   font-size: 16px;
    margin-top: 14px;
    width: 100%;
}  

 
.fm .sig{
    
    margin: 1rem 0 0 2.5rem;
   display: flex;
   }
   
.fm .sig a{
    font-size: 16px;
}

.fm  .sign{
       text-decoration: underline;
   }
 .fm  .sig p{
   margin-right: 0.3rem;
   } 