<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'address' %}">
     
        


        {% csrf_token %}

        
 
 <!--       
        <label for="id_address">Address:</label><br>
        <input type="text" id="id_address" name="address"><br>
        
        <label for="id_pincode">Pincode:</label><br>
        <input type="text" id="id_pincode" name="pincode"><br>
        
        <label for="id_state">State:</label><br>
        <input type="text" id="id_state" name="state"><br>
        
        <label for="id_city">City:</label><br>
        <input type="text" id="id_city" name="city"><br>
    -->
          {{ form.as_p }}

        <button id="address" type="submit">Continue</button>

    </form>
<script>
    document.getElementById('address').addEventListener('submit', function(event) {
        event.preventDefault();  
        this.submit();
        window.location.href = '/payment/' + address.pk + '/';
        
    });
</script>
</body>
</html>