{% extends 'common.html' %}

{% load static %}
 
{% block title %}Dashboard{% endblock %}


{% block styles %} 

<link rel="stylesheet" href="{% static 'dashboard.css' %}"> 

{% endblock %}

{% block content %}

 
{% if messages %}

{% for message in messages %}

{{message}}

{% endfor %}

{% endif %}

  {% if user %}
  <div class="user-info-container">
    <p class="user-info">{{ user.username }}</p>
    <p class="user-info">{{ user.email }}</p>
 {% endif %}

 
{% if request.user %}

<ul class="user-actions">
    <li><a href="{% url 'edit_dashboard' %}"><i class="fas fa-edit"></i>Edit</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
</ul>
<p>Your Products</p>  
</div>
{% endif %}

 
{% if product %}

<div class="product-grid">
    {% for products in product %}
      
   
    <div class="card">
        {% if products.image %}
        <img src="{{ products.image.url }}" style="height: 280px; width:300px"  alt="Not Available">
        {% endif %}
  
        <a href="{% url 'product_detail' products.pk %}">
        <div class="content">
            <div class="title">{{ products.name }}</div>
            <div class="price">{{ products.discounted_price }}</div>
            <div class="description">{{ products.description }}</div>
            <div class="rating">
                <span class="star">⭐</span>
                <span>4.5</span>
            </div>
            <a href="{% url 'add_cart' products.pk %}" class="add-to-cart">Add to Cart</a>
        </div>
    </div>
  
    {% endfor %}
</div>
{% endif %}


 {% endblock %}
