{% extends 'common.html' %}

{% load static %}
 
{% block title %}List Product {% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static 'edit_product.css' %}">  {% endblock %}

{% block content %}

    <form  method="post" action="{% url 'edit_product' pk=product.pk %}" enctype="multipart/form-data">
          
              {% csrf_token %}
<div class="container">

              <label for="category">Category:</label>
              <select name="category" id="category">
                {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="name">Title:</label>
            <input type="text" id="name" name="name" value="{{form.instance.name}}"><br><br>
        
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50">{{form.instance.description}}</textarea><br><br>
        
            <!--DISPLAYING THE INSTANCE(EXISTING) IMAGE -->
           
           <!--UPLOADING NEW IMAGE-->
            <label for="image">New Image</label>
            <input type="file" id="image" name="image" value="{{form.instance.image.url}}"><br><br>
            
           <!--TO DISPLAY PREVIEW OF AN IMAGE-->
            <img id="image-preview" src="#" alt="image" style="display: none; max-width:300px;">

            <label for="price">Price:</label>
            <input type="number" id="orginal_price" name="orginal_price" step="0.01" value="{{form.instance.orginal_price}}"><br><br>
      
            <label for="discounted_price">Discounted Price:</label>
            <input type="number" id="discounted_price" name="discounted_price" step="0.01" value="{{form.instance.discounted_price}}"><br><br> 
        
       
            <input type="submit" value="Submit">
</div>     
    </form>

    <script>
 
        document.querySelector('input[type="file"]').addEventListener('change',
        
        function (event){
            var file=event.target.files[0];

            var reader=new FileReader();

            reader.onload=function(trigger){

                var img=document.getElementById('image-preview');

                img.src=trigger.target.result;

                img.style.display='block'
                                     }

                reader.readAsDataURL(file);
        } );

    </script>


    {% endblock %}