{% extends 'common.html' %}

{% load static %}
 
{% block title %}HOME{% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}
  
{% block content %}
 
{% if messages %}
  
<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
           
            <li style="margin-left: 45rem;">{{ message }}</li>
            
            </button>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

  <!--FOR LISTING PRODUCTS--> 
  <form action="{% url 'home' %}" method="get"> 

  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="search">
  
 
  <input class="search_input" type="text" name="query" placeholder="Search products....." required>
      
  <button class="search_icon"><i class="fa fa-search"></i></button>
</form>
</div>
</div>
</div>
          
  <ul>
  
   
    <div class="master">
  
    {% if products %}
    <div class="product-grid">
        {% for product in page_obj %}
             
         
    <div class="card">
      {% if product.image %}
      <img src="{{ product.image.url }}"  alt="Not Available">
      {% endif %}

      <a href="{% url 'product_detail' product.pk %}">
      <div class="content">
          <div class="title">{{ product.name }}</div>
          <div class="price">{{ product.discounted_price }}</div>
          <div class="description">{{ product.description }}</div>
          <div class="rating">
              <span class="star">⭐</span>
              <span>4.5</span>
          </div>
        </a>
          <a href="{% url 'add_cart' product.pk %}" class="add-to-cart">Add to Cart</a>
      </div>
  </div>

        {% endfor %}
    </div>
    {% endif %} 
  
  </div>
    
<div class="pagin" style="margin-left: 40rem;">

  <nav aria-label=". . .">
  
      <ul class="pagination">
       
  
           <!--.has_previous is a default attribute provided by django page-->
          {% if page_obj.has_previous %}
                                     
          <li class="page-item">  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
  
        {% endif %}
  
         <!--.has_next is a default attribute provided by django page-->
        {% if page_obj.has_next %}
  
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
  
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a>
      </li>
    </ul>
  </nav>
  
  </div>
  {% endif %}
           
{% endblock %}